body{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}
div{
	width: 100%;
}
.top{
	background: #e21e2e;
	height: 100px;
}
#logo{
	float: left;
	width: 150px;
	height: 100px;
	background: url(../img/biz.png) no-repeat center;
}
#menu{
	float: right;
	background: url(../img/menu.png) no-repeat center;
	background-size: 40px 30px;
	width: 80px;
	height: 100px;
}
.nav{
	height: 570px;
	background: url(../img/nav.png);
	background-size: 100% 100%;
}
#nav_bigword{
	float: left;
	height: 80px;
	margin: 230px 0 0 0;
	font-size: 80px;
	line-height: 80px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}
#nav_smallword{
	float: left;
	height: 50px;
	margin: 20px 0 0 0;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
}
.main{
	float: left;
	height: 2925px;
}
.por{
	float: left;
	height: 1220px;
}
.por_top{
	float: left;
	height: 270px;
	border-bottom: 1px solid #c3c0be;
}
#por_bigword{
	float: left;
	height: 58px;
	margin: 150px 0 0 0;
	font-size: 58px;
	line-height: 58px;
	text-align: center;
	color: #2e2e2e;
}
#por_smallword{
	float: left;
	height: 30px;
	margin: 0;
	font-size: 23px;
	line-height: 30px;
	text-align: center;
	color: #8d8889;
}
#por_bottom{
	display: flex;
	justify-content:center;
	float: left;
	height: 5px;
	margin-top: 17px;
}
#por_bot{
	height: 15px;
	width: 120px;
	margin: 0;
	background-color: #e73235;
}
.por_main{
	float: left;
	height: 1000px;
}
.por_main>div{
	padding-top: 150px;
	float: left;
	width: 50%;
	height: 300px;
}
.por_main>div>div{
	float: right;
	width: 100%;
	text-align: center;
}
.main_img{
	height: 135px;
}
#axiu_mig{
	background: url(../img/aixiu.png) #FFFFFF no-repeat center;
}
#yous_mig{
	background: url(../img/youshu.png) #FFFFFF no-repeat center;
}
#crm_mig{
	background: url(../img/crm.png) #FFFFFF no-repeat center;
}
#baio_mig{
	background: url(../img/baiyou.png) #FFFFFF no-repeat center;
}
.main_bigword{
	margin: 20px 0;
	font-size: 38px;
	color: #595959;
	line-height: 28px;
}
.main_smallword{
	font-size: 26px;
	color: #8a8a8a;
	line-height: 18px;
}
.cus{
	float: left;
	height: 1700px;
}
.cus_main{
	display: flex;
	height: 1430px;
	justify-content: center;
}
#pinpai{
	width: 100%;
	height: 1430px;
}
#fuzhuang{
	float: left;
	height: 500px;
	margin-top: 100px;
	background: url(../img/fuzhuang.png) #FFFFFF no-repeat center;
	background-size: 95% auto;
	
}
#xie{
	float: left;
	width: 33.3%;
	height: 652px;
	background: url(../img/xie.png) #FFFFFF no-repeat center;
	background-size: 86% auto;
}
.double{
	float: left;
	width: 33.3%;
	height: 652px;
}
.double>div{
	float: left;
	width: 100%;
	height: 326.33px;
}
#shipin{
	background: url(../img/shipin.png) #FFFFFF no-repeat center;
	background-size: 86% auto;
}
#piju{
	background: url(../img/piju.png) #FFFFFF no-repeat center;
	background-size: 86% auto;
}
#jiafang{
	background: url(../img/jiafang.png) #FFFFFF no-repeat center;
	background-size: 86% auto;
}
#jiu{
	background: url(../img/jiu.png) #FFFFFF no-repeat center;
	background-size: 86% auto;
}
.foo{
	float: left;
	height: 355px;
	background: url(../img/shenqing.png) #000 no-repeat center;
	background-size: 100% auto;
	margin-bottom: -10px;
}
#shen_word{
	float: left;
	height: 44px;
	margin-top: 130px;
	font-size: 44px;
	line-height: 44px;
	color: #FFFFFF;
	text-align: center;
}
#shen_btn{
	display: flex;
	justify-content:center;
	float: left;
	height: 55px;
	margin-top: 25px;
}
.bott{
	float: left;
	height: 545px;
}
#btn{
	width: 235px;
	height: 55px;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	line-height: 55px;
	background: #ee2535;
	border-radius: 25px;
}
.bott_up{
	float: left;
	height: 280px;
	background: #000000;
}
.erweima{
	float: left;
	height: 235px;
	padding-top: 85px;
	width: 33.3%;
}
#youshur{
	width: 100%;
	height: 130px;
	background: url(../img/youshur.png) #000 no-repeat center;
}
#aixiur{
	width: 100%;
	height: 130px;
	background: url(../img/aixiur.png) #000 no-repeat center;
}
#guanr{
	width: 100%;
	height: 130px;
	background: url(../img/shafangr.png) #000 no-repeat center;
}
.word_bp{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	color: #7a7a7a;
	text-align: center;
}
.bott_dow{
	float: left;
	height: 265px;
	background: #000000;
}
#dow_logo{
	height: 35px;
	margin-top: 85px;
	margin-bottom: 20px;
	background: url(../img/biz.png) #000 no-repeat center;
}
.dow_bigword{
	height: 35px;
	font-size: 26px;
	text-align: center;
	line-height: 25px;
	color: #aeaeae;
}
.dow_smallword{
	height: 35px;
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	color: #aeaeae;
}
